.techitem {
    margin: 10px;
    display: flex;
}

.techitem .title {
    width: min-content;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    padding: 10px;
    text-shadow: 2px 2px 5px black;
}